.container {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  padding-bottom: 20px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
.toolbar {
  display: flex;
}
.group {
  display: flex;
  align-items: center;
  background: #4e4e4e;
  color: #fff;
}
.group svg {
  margin-left: 7px;
}