.container {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  padding-bottom: 20px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
.toolbar {
  display: flex;
}
.tag input {
  display: none;
}
.tag label {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .25px;
  text-transform: capitalize;
  padding: 4px 8px;
  border-radius: 5px;
  background: #efefef;
  color: #4e4e4e;
  margin: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
}
.tag label:hover {
  background-color: #61b47b;
  color: #fff;
}
.tag input:checked + label {
  background: #61b47b;
  color: #fff;
}
.tag input:checked + label:hover {
  background: #437d56;
}
.group label {
  background: #494949;
  color: #fff;
}