.container {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  padding-bottom: 20px;
}
.owners {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 0 10px;
}
.toolbar {
  display: flex;
}
.group {
  font-weight: 700;
}
.group svg {
  width: 13px;
  height: 13px;
  margin-left: 7px;
}