.container {
  display: flex;
  justify-content: center;
  color: #494949;
  width: 100%;
  padding: 0 15px 15px;
}
.pagination {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 5px 0;
  border-radius: 7px;
  box-shadow: 0px 5px 10px 2px #efefef73;
  font-weight: 700;
  width: 60%;
}
.pagination div {
  display: flex;
  align-items: center;
  flex: 1;
}
.count {
  justify-content: flex-start;
}
.page {
  justify-content: center;
}
.navigation {
  justify-content: flex-end;
}
@media screen and (min-width: 960px) {
  .pagination {
    width: 100%;
  }
}
