.container {
  color: #494949;
  width: 100%;
  padding: 0 15px 15px;
}
.pagination {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 5px 10px 5px 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 2px #efefef73;
  font-weight: 700;
}
.pagination div {
  display: flex;
  align-items: center;
  flex: 1;
}
.count {
  justify-content: flex-start;
}
.page {
  justify-content: center;
}
.navigation {
  justify-content: flex-end;
}
