.container {
  display: flex;
  justify-content: center;
  color: #494949;
  width: 100%;
  padding: 15px 15px 0;
}
.pagination {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 5px 0;
  border-radius: 7px;
  font-weight: 700;
  width: 250px;
}
.pagination > div {
  display: flex;
  align-items: center;
  flex: 1;
}
.count {
  justify-content: flex-end;
}
.page {
  justify-content: center;
  margin: 0 10px;
}
.navigation {
  justify-content: flex-start;
}
@media screen and (min-width: 960px) {
  .pagination {
    width: 300px;
  }
}
