.container {
  /* normalize */
  font-size: 100%;
  font-family: inherit;
  text-align: inherit;
  border: 0;
  cursor: pointer;
  /* container */
  display: flex;
  align-items: flex-start;
  padding: 20px;
  color: #494949;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 2px #efefef73;
  font-weight: 300;
}
.select {
  margin-right: 15px;
}
.content {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
  width: 100%;
}
.sectionTop {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
}
.sectionMid {
  min-width: 0;
}
.sectionBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.subHeading {
  display: grid;
  align-items: center;
  column-gap: 15px;
  row-gap: 5px;
  grid-template-columns: repeat(4, minmax(0, max-content));
  font-size: 14px;
}
.owner {
  margin-left: 10px;
}
.owner div {
  width: 25px;
  height: 25px;
  letter-spacing: 0.25px;
  line-height: 27px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #686868;
  text-align: center;
  background: #efefef;
}
.title {
  font-size: 16px;
  font-weight: 500;
}
.title span {
  vertical-align: top;
  line-height: 22px;
}
.title svg {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
.priority {
  display: inline-block;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  padding: 3px 6px;
  border-radius: 5px;
  white-space: nowrap;
  background: #4e4e4e;
  color: #fff;
  margin-right: 10px;
}
.urgent {
  color: #fff;
  background: #ca0000;
}
.p2 {
  color: #fff;
  background: #ed8936;
}
.p3 {
  color: #b57300;
  background: #fbd38d;
}
.description {
  font-size: 14px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 0.25px;
}
.info svg {
  display: block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
}
.tagsWrapper {
  display: flex;
}
.tag {
  background: #efefef;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 11px;
  font-weight: 400;
  text-transform: capitalize;
}
.tag + .tag {
  margin-left: 5px;
}
/* modifiers */
.compact.container {
  padding: 15px;
}
.compact {
  border-radius: 0;
}
.compact .subHeading {
  font-size: 12px;
}
.compact .title {
  font-size: 15px;
}
.compact .sectionMid,
.compact .sectionBottom {
  display: none;
}
.compact .sectionTop {
  border-bottom: 0;
  padding-bottom: 0;
}
.selected.container {
  background: #efefef;
}
.selected .tag {
  background: #999;
  color: #fff;
}
.selected .select {
  color: #494949;
}
.selected .sectionTop {
  border-color: #e0e0e0;
}
@media screen and (min-width: 768px) {
  .subHeading {
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  }
}
@media screen and (min-width: 960px) {
}
