.tasks {
  display: grid;
  grid-template-columns: 100%;
}
.container {
  height: 100vh;
  overflow: auto;
}
.content {
  padding: 15px;
}
.utility {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 15px;
}
.cards {
  display: grid;
  grid-template-columns: 100%;
  gap: 15px;
}
.tools {
  display: flex;
  align-items: center;
}
.priority {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.view {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 2px #efefef73;
}
/* modifiers */
.compact {
  gap: 2px;
  border-radius: 15px;
  overflow: hidden;
}
@media screen and (min-width: 960px) {
  .tasks {
    grid-template-columns: 320px auto;
  }
}
