.tasks {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  padding: 15px;
}
.tasks-header h1 {
  font-weight: 300;
  margin: 0;
}

/* normalize */
.tasks__btn {
  font-size: 100%;
  font-family: inherit;
  text-align: inherit;
  border: 0;
  cursor: pointer;
}
.tasks svg {
  display: block;
}

/* grid */
.tasks-cards {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
}
.tasks-cards--grid {
  grid-template-columns: repeat(3, auto);
}
.tasks-section {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
}
.tasks-section--desktop {
  grid-template-columns: repeat(2, 1fr);
}

/* summary */
.tasks-summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.tasks-summary__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
  padding: 15px;
  font-weight: 500;
  background: #efefef;
}
.tasks-summary__status--selected {
  background: #61b47b;
  color: #fafafa;
}
.tasks-summary__title {
  display: flex;
  align-items: center;
}
.tasks-summary__title > * + * {
  margin-left: 10px;
}
.tasks-summary__number {
  background: #fff;
  color: #494949;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
}

/* filters */
.tasks-filters {
  /* background: #f4f4f4; */
  /* padding: 15px; */
  border-radius: 7px;
}
.tasks-filters__section--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-filters__section--bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 10px;
}
.tasks-filters__title {
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
}
.tasks-filters__dropdown {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
  position: relative;
}
.tasks-filters__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px;
  border-radius: 7px;
  font-size: 14px;
  box-shadow: 0px 5px 10px 2px #efefef73;
}
.tasks-filters__label svg {
  width: 10px;
  height: 10px;
  color: #494949;
}
.tasks-filters__select {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  background: #fff;
  padding: 5px 10px;
  font-size: 14px;
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.tasks-filters__option {
  display: flex;
  align-items: center;
}
.tasks-filters__option svg {
  width: 13px;
  height: 13px;
}
.tasks-filters__option span {
  margin-left: 10px;
}

/* card */
.tasks-cards__item {
  display: flex;
  align-items: baseline;
  padding: 15px;
  color: #494949;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 2px #efefef73;
  font-weight: 300;
}
.tasks-cards__checkbox {}
.tasks-cards__content {
  display: grid;
  gap: 10px;
  width: 100%;
  margin-left: 15px;
}
.tasks-cards__section--top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.tasks-cards__section--middle {}
.tasks-cards__section--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-cards__subsection--left {
  display: flex;
  align-items: center;
}
.tasks-cards__subsection--left > div + div {
  margin-left: 15px;
}
.tasks-cards__subsection--right {
  display: flex;
  align-items: center;
}
.tasks-cards__subsection--right > div + div {
  margin-left: 5px;
}
.tasks-cards__title {
  font-weight: 700;
}
.tasks-cards__priority {
  font-weight: 500;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 15px;
  margin-left: 5px;
}
.tasks-cards__priority--urgent {
  color: #fff;
  background: #ca0000;
}
.tasks-cards__priority--p2 {}
.tasks-cards__priority--p3 {}
.tasks-cards__description {
  font-size: 14px;
  color: #999;
}
.tasks-cards__attachment {
  background: #efefef;
  color: #555;
  border-radius: 5px;
  padding: 5px;
}
.tasks-cards__attachment svg {
  width: 15px;
  height: 15px;
}
.tasks-cards__duedate {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  align-items: center;
  /* color: #999; */
}
.tasks-cards__duedate svg {
  width: 13px;
  height: 13px;
}
.tasks-cards__duedate span {
  font-size: 14px;
}
.tasks-cards__patient {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  align-items: center;
  /* color: #999; */
}
.tasks-cards__patient svg {
  width: 13px;
  height: 13px;
}
.tasks-cards__patient span {
  font-size: 14px;
}
.tasks-cards__tag {
  background: #efefef;
  color: #555;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
}
.tasks-cards__tag--mobile {
  display: flex;
  padding: 5px;
}
.tasks-cards__tag--mobile > * + * {
  margin-left: 5px;
}
.tasks-cards__tag--mobile svg {
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 640px) {
  .tasks-cards__item {
    padding: 25px;
  }
}