/* normalize */
.tasks__btn {
  font-size: 100%;
  font-family: inherit;
  text-align: inherit;
  border: 0;
  cursor: pointer;
}
.tasks__btn.tasks__btn--selected {
  background: #61b47b;
  color: #fafafa;
}
.tasks svg {
  display: block;
}

@media screen and (min-width: 640px) {
}
