.tasks-container {
  padding: 15px;
}
.tasks-header h1 {
  font-weight: 300;
}

/* grid */
.tasks-cards {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
}
.tasks-cards.grid {
  grid-template-columns: repeat(3, auto);
}

/* card */
.card-container {
  padding: 15px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 2px #efefef73;
}