.normalize {
  font-size: 100%;
  font-family: inherit;
  text-align: inherit;
  border: 0;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
}
.add {
  padding: 15px;
  border-radius: 50%;
  color: #fff;
  background: #61b47b;
  position: fixed;
  bottom: 30px;
  right: 45px;
  box-shadow: 0px 5px 10px 2px #a4a4a473;
}
.add span {
  display: none;
}
.add svg {
  display: block;
  width: 30px;
  height: 30px;
}
.menu {
  padding: 5px;
  border-radius: 5px;
}
.menu svg {
  display: block;
  width: 25px;
  height: 25px;
}
.header {
  display: flex;
  align-items: center;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px 0;
  background: transparent;
}
.header svg {
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.overview {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
  justify-content: center;
  text-align: center;
  border-radius: 7px;
  padding: 15px;
  font-weight: 300;
  font-size: 14px;
  background: #fff;
  box-shadow: 0px 5px 10px 2px #efefef73;
}
.view {
  background: transparent;
  padding: 7px;
  border-radius: 5px;
}
.view + .view {
  margin-left: 5px;
}
.view svg {
  display: block;
  width: 13px;
  height: 13px;
  pointer-events: none;
}
.collection {
  background: transparent;
  margin-left: 5px;
}
.collection svg {
  display: block;
  width: 13px;
  height: 13px;
  pointer-events: none;
}
.tag {
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
  padding: 5px 10px;
  border-radius: 5px;
  background: #efefef;
}
.sort {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 300;
  background: #fff;
  box-shadow: 0px 5px 10px 2px #efefef73;
}
.sort svg {
  display: block;
  width: 20px;
  height: 20px;
  pointer-events: none;
  margin-bottom: 10px;
}
.more {
  background: transparent;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 300;
}
.filter {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  background: transparent;
  padding: 0;
}
.filter svg {
  display: block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
.clear {
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
  background: transparent;
}
.search {
  background: transparent;
  margin-right: 5px;
}
.search svg {
  display: block;
  width: 13px;
  height: 13px;
  pointer-events: none;
}
.priority {
  padding: 8px;
  margin-left: 5px;
  border-radius: 5px;
}
.priority svg {
  display: block;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
/* modifiers */
.active {
  background: #61b47b;
  color: #fff;
}
.filter.active {
  background: transparent;
  color: #000;
  font-weight: 500;
}
@media screen and (min-width: 960px) {
  .add {
    display: flex;
    align-items: center;
    position: relative;
    right: 0;
    bottom: 0;
    padding: 10px 15px 10px 10px;
    border-radius: 25px;
    white-space: nowrap;
    box-shadow: none;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: unset;
    letter-spacing: normal;
    box-shadow: none;
  }
  .add span {
    display: block;
  }
  .add svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .menu {
    display: none;
  }
}