.normalize {
  font-size: 100%;
  font-family: inherit;
  text-align: inherit;
  border: 0;
  cursor: pointer;
}
.add {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 10px;
  border-radius: 25px;
  color: #fff;
  background: #61b47b;
  white-space: nowrap;
  box-shadow: none;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  line-height: unset;
  letter-spacing: normal;
}
.add svg {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
