.container {
  display: none;
  padding: 0 15px 15px;
  border-right: 1px solid #efefef;
  height: 100vh;
  overflow: auto;
  background: #fafafa;
  z-index: 1;
}
.section {
  display: grid;
  grid-template-columns: auto;
}
.section + .section {
  border-top: 1px solid #efefef;
}
.overview {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  padding: 0 10px 20px;
}
.filters {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 0 10px 20px;
}
.filtersWrapper {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
}
.options {
  padding: 0 10px;
  text-align: center;
}
.priority {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  padding: 0 10px 20px;
}
.owner {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding-bottom: 20px;
}
.ownerWrapper {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
  padding: 0 10px;
}
.more {
  padding: 0 10px;
  text-align: center;
}
.status {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  padding: 0 10px 20px;
}
.tags {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  padding-bottom: 20px;
}
.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* change later */
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header svg {
  display: block;
  width: 10px;
  height: 10px;
}
.toolbar {
  display: flex;
}
/* modifiers */
.open.container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  box-shadow: 5px 0px 20px 3px #b9b9b973;
}
@media screen and (min-width: 960px) {
  .container {
    display: block;
  }
}
