.container::-webkit-scrollbar {
  width: 10px;
}
.container::-webkit-scrollbar-track {
  background: transparent;
}
.container::-webkit-scrollbar-thumb {
  background: #fafafa;
  border-radius: 15px;
  border: 2px solid #fafafa;
}
.container:hover::-webkit-scrollbar-thumb {
  background: #ccc;
}
.container::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px 20px 30px;
  height: 100%;
  overflow-y: scroll;
  background: #fafafa;
  z-index: 3;
}
.section {
  display: grid;
  grid-template-columns: auto;
}
.section + .section {
  border-top: 1px solid #e8e8e8;
}
.overview {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  padding: 0 10px 20px;
}
.filters {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  padding-bottom: 20px;
}
.filtersWrapper {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 0 10px;
}
.priority {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  padding: 0 10px 20px;
}
.owner {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  padding-bottom: 20px;
}
.ownerWrapper {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 0 10px;
}
.status {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  padding: 0 10px 20px;
}
.tags {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  padding-bottom: 20px;
}
.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* change later */
  padding: 0 10px;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header svg {
  display: block;
  width: 12px;
  height: 12px;
}
.toolbar {
  display: flex;
}
/* modifiers */
.open.container {
  display: block;
  width: 80%;
}
@media screen and (min-width: 960px) {
  .container {
    display: block;
    width: 320px;
  }
}
