.container::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.container::-webkit-scrollbar-track {
  background: transparent;
}
.container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 7px;
}
.container::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.container {
  overflow: auto;
  box-shadow: 0px 5px 10px 2px #efefef73;
  font-size: 14px;
  font-weight: 300;
  border-radius: 15px;
  height: calc(100vh - 137px);
  background: #fff;
}
.container svg {
  display: block;
  width: 15px;
  height: 15px;
}
.container table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    50px
    minmax(50%, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(100px, 1.67fr)
    minmax(100px, 3.33fr)
    minmax(100px, 1.67fr)
    minmax(100px, 3.33fr)
    minmax(100px, 1.67fr);
}
.container thead,
.container tbody,
.container tr {
  display: contents;
}
.container th,
.container td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 2px solid #efefef;
}
.container th {
  position: sticky;
  top: 0;
  text-align: left;
  background: #fff;
  color: #494949;
}
.container td {
  color: #808080;
  background: #fff;
}
.priority,
.patient,
.owner,
.state {
  text-transform: capitalize;
}
.checkbox {
  display: flex;
  justify-content: center;
}
.container .title {
  padding-left: 0;
}
