.app {
  display: grid;
  grid-template-columns: 240px 320px auto;
  gap: 5px;
}
.app > div {
  height: 100vh;
  overflow: auto;
}
.app > div + div {
  border-left: 1px dashed #ccc;
}
.nav {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.patient-info {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}