.app {
}
.app > div + div {
  border-left: 1px dashed #ccc;
}
.nav {
  height: 100vh;
  overflow: auto;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 240px;
  flex-shrink: 0;
}

@media screen and (min-width: 960px) {
  .app,
  .nav,
  .patient-info {
    display: flex;
  }
  .container {
    flex-grow: 1;
  }
}
