.container {
  padding-bottom: 20px;
}
.label {
  font-size: 14px;
  letter-spacing: .25px;
  margin: 0 0 5px 5px;
}
.input {
  display: flex;
}
.section + .section {
  margin-top: 20px;
}
.filters {
  flex: 1;
}