.container {
  flex: 1;
  position: relative;
}
.container label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.search {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  min-width: 200px;
  width: 100%;
  margin-right: 10px;
  letter-spacing: .25px;
}
