.select .tasks-select-container {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .25px;
  margin-right: 5px;
}
.select .tasks-select__control {
  border-width: 0;
  min-height: auto;
  box-shadow: none;
}
.select .tasks-select__placeholder {
  color: #494949;
}
.select .tasks-select__value-container {
  padding: 0 5px;
}
.select .tasks-select__input-container {
  padding: 0;
  margin: 0;
  color: #494949;
}
.select .tasks-select__indicator {
  padding: 0;
  color: #494949;
}
.select .tasks-select__indicator-separator {
  display: none;
}
.select .tasks-select__single-value {
  text-overflow: inherit;
  margin: 0;
}
.select .tasks-select__menu {
  min-width: 100%;
  width: max-content;
  overflow: hidden;
}
.select .tasks-select__menu-list {
  padding: 0;
}
.select .tasks-select__option--is-focused,
.select .tasks-select__option--is-focused:active {
  background-color: #cde7d5;
}
.select .tasks-select__option--is-selected,
.select .tasks-select__option--is-selected:active {
  background-color: #61b47b;
}